export EMAIL_HOST_USER=<>
export EMAIL_HOST_PASSWORD=<>
export SECRET_KEY=<>
export SOCIAL_SECRET=<>
export GOOGLE_CLIENT_ID=<>
export GOOGLE_CLIENT_SECRET=<>
export TWITTER_API_KEY=<>
export TWITTER_CONSUMER_SECRET=<>
export FRONTEND_URL=<>
export APP_SCHEME=<>
